<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produk Perusahaan</title>
</head>

<body>
    {% extends "layout.html" %}

    {% block title %}Produk Page{% endblock %}


    {% block content %}
    {% if session.logged_in %}
    <h3 class="one">Welcome</h3>
    <a href="/produk/tambah" class="btn btn-primary" role="button">Tambah Produk</a>
    <a href="{{ url_for('logout') }}" class="btn btn-info" role="button">Logout</a>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID Produk</th>
                <th scope="col">Nama</th>
                <th scope="col">Harga</th>
                <th scope="col">Rating</th>
                <th scope="col">Likes</th>
                <th scope="col">Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for d in produk %}
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td>
                <td>{{ d[2] }}</td>
                <td>{{ d[3] }}</td>
                <td>{{ d[4] }}</td>
                <td> <button type="button" class="btn btn-warning btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endblock %}

</body>

</html>